.center {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-title {
  color: white;
  margin-bottom: 3rem;
  color: white;
}

.short-url {
  margin-top: 3rem;
}

.short-url-link {
  color: #F1A032;
  font-size: 2em;
}

.short-url-link:hover {
  color: #F1A032;
  font-size: 2em;
}

.url-error {
  margin-top: 3rem;
  color: red;
  font-size: 2em;
}

.alert-container {
  margin-top: 3%;
}
